/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General styles */
body {
  font-family: "Montserrat", Sans-Serif;
  overflow-x: hidden; /* Menyembunyikan overflow horizontal */
}

/* Navbar */
nav {
  display: flex;
  background-color: rgb(34, 193, 198);
  justify-content: space-around;
  color: black;
  height: 50px;
  align-items: center;
}

nav h4 {
  margin-left: -30px;
  letter-spacing: 1px;
  font-size: 20px;
}

nav .logo {
  font-family: "DM Serif Text", serif;
}

nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 0.8em;
}

nav ul li a:hover {
  color: rgb(250, 240, 255);
}

/* Hamburger */
.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  height: 28px;
  width: 39px;
  left: -5px;
  top: -4px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: white;
  border-radius: 3px;
  transition: all 0.5s;
}

/* Hamburger animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 0;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -2px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-2px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
}

/* Responsive design */

/* Tablet */
@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
}

/* Mobile */
@media screen and (max-width: 576px) {
  .menu-toggle {
    display: flex;
    z-index: 4;
  }

  nav ul {
    position: fixed; /* Mengubah dari absolute ke fixed */
    right: 0;
    top: 0;
    width: 50%;
    height: 80%; /* Mengubah dari 80% ke 100% untuk menyembunyikan menu sepenuhnya */
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: rgb(34, 193, 198);
    z-index: 1; /* Mengubah z-index dari -1 ke 1 */
    transform: translateX(100%);
    transition: all 0.5s ease; /* Mengurangi durasi animasi */
    opacity: 0;
    border-radius: 10px; /* Menghapus border-radius */
  }

  nav ul.slide {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Halaman website */
header.isi {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 0 8px;
}

header {
  margin: 50px 5px 10px 5px;
  z-index: -2;
}

header img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.isi h3 {
  font-family: Sans-Serif, Times New Roman;
  font-size: 30px;
  text-align: center;
  margin: 30px 0 0 0;
  color: #535353;
}

.paragraf p {
  margin: 50px 0 0 20px;
}

.paragraf img {
  display: flex;
  justify-content: flex-start;
}

.paragraf h4 {
  font-family: Sans-Serif, Times New Roman;
  font-size: 30px;
  margin: 40px 0 0 20px;
  color: #535353;
}

.pg p {
  margin: 20px 0 0 20px;
  text-align: left;
}

.pg2 p {
  font-size: 15px;
  margin: 0 0 0 40px;
}
 
